<div class="weather" id="weather_block">
	<div class="weather_head">
		<div class="weather_city">__city__</div>
		<div class="weather_day">__day__</div>
		<div class="weather_desc">__description__</div>
	</div>
	<div class="weather_body">
		<div class="weather_left">
			<div class="weather_pic"><img src="__icon__"></div>
			<div class="weather_temp">__temp__</div>
		</div>
		<div class="weather_right">
			<div class="weather_rise">Sunrise  __sunrise__</div>
			<div class="weather_set">Sunset   __sunset__</div>
			<div class="weather_humi">Humidity __humidity__%</div>
		</div>
	</div>
	<div class"weather_cast">
		<div class="weather_date">
		
		</div>
	</div>
	<div class"weather_footer">
		<div class="weather_days"></div>
	</div>
</div>
