<div style="max-width: 640px;">
	<bx_repeat:photos>
		<div class="sys_file_search_unit aqb_ppp_photo_item __current__" id="aqb_ppp_photo___id__">
			<div style="background-image: url('__img__');" class="sys_file_search_pic">
	    		<a href="#" onclick="aqb_profile_photo_picker_choose_photo(__profile__, __id__); return false;">
	    			<img src="<bx_icon_url:spacer.gif />">
	    		</a>
			</div>
			<div class="sys_file_search_info">
		    	<div class="sys_file_search_title">__title__</div>
		    </div>
		</div>
	</bx_repeat:photos>
	<div class="clear_both"></div>
</div>