<!-- designbox_80.html  -->
<style>
	.clearStyle{
		background-image:none!important; 
		background-color:transparent!important; 
		border:0!important;
	}
	.paginate{
		background-image:none!important; 
		background-color:transparent!important; 
		border:0!important;
	}
	div.paginate, .rss_read_more, .dbBottomMenu, div.top_settings_block, .sys_msg_pending_approval, .ordered_block {
    	background-image:none!important; 
		background-color:transparent!important; 
		border:0!important;
	}
</style>
<div class="disignBoxFirst clearStyle bx-def-margin-top">
	<div class="boxFirstHeader clearStyle bx-def-bh-margin">
		<div class="dbTitle clearStyle">__title__</div>
			__caption_item__
			<div class="clear_both"></div>
		</div>
	<div class="boxContent clearStyle">__designbox_content__</div>
		__bottom_item__
</div>
