#modzzz_schools_admin_listing .block_cont {
    padding:1px;
}

table.modzzz_schools_actions {
    border-collapse:collapse;
    margin:5px;
    width:100%;
}

table.modzzz_schools_actions td {
    width:33%;
    text-align:center;
}

.modzzz_schools_manage_wrapper {
    padding:0;
}
