<div class="bx-def-bc-padding">
<div class="fbContent">
  <div class="fbCenter fbAskText">
    <bx_text:_dbcs_fb_ask_import />
  </div>
  <br />
  <table width="100%" cellpadding="0" cellspacing="0">
    <tr>
      <td width="50%" style="text-align: right;"><div class="clear_both"></div>
        <div style="margin-right: 4px; float: right;">
          <div class="input_wrapper input_wrapper_submit ">
            <div class="button_wrapper">
              <input type="button" value="__key_yes__" name="ButtonYes" class="form_input_submit bx-btn" onClick="javascript: window.location='__yes_url__'">
            </div>
          </div>
          <div class="clear_both"></div>
        </div>
        <div class="clear_both"></div></td>
      <td width="50%"><div class="clear_both"></div>
        <div style="margin-left: 4px;">
          <div class="input_wrapper input_wrapper_submit ">
            <div class="button_wrapper">
              <input type="button" value="__key_no__" name="ButtonNo" class="form_input_submit bx-btn" onClick="javascript: window.location='__no_url__'">
            </div>
          </div>
        </div>
        <div class="clear_both"></div></td>
    </tr>
  </table>
</div>
</div>