<form action="<bx_url_root />modules/?r=deanos_facebook_connect/administration/" method="POST">
  <table cellspacing="0" cellpadding="0" class="form_advanced_table">
    <tbody>
      <tr>
        <td class="caption">Backup File Name:</td>
        <td class="value"><div class="input_wrapper input_wrapper_text bx-def-round-corners-with-border">
            <input type="text" class="form_input_text bx-def-font" name="backupfn" value="__backup_file_name__">
          </div></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td class="value"><div class="clear_both"></div>
          <div style="" class="input_wrapper input_wrapper_submit">
            <div class="button_wrapper">
              <input type="submit" class="form_input_submit bx-btn" name="backup" value="Backup">
            </div>
          </div>
          <div class="clear_both"></div></td>
      </tr>
    </tbody>
  </table>
  <input type="hidden" class="form_input_hidden bx-def-font" name="sb" value="1">
</form>
