<table border="0" align="center" cellpadding="0" cellspacing="0" onClick="__onclick__" style="cursor: pointer; direction: ltr;">
  <tr>
    <td style="vertical-align: middle;"><div style="background-image:url(modules/deano/deanos_facebook_connect/templates/base/images/button_sm_left.png); background-repeat: no-repeat; background-position: left top; height: 40px; width: 29px;"></div></td>
    <td style="vertical-align: middle;"><div style="background-image:url(modules/deano/deanos_facebook_connect/templates/base/images/button_sm_center.png); background-repeat: repeat-x; background-position: left top; height: 40px; line-height: 40px; padding-right: 4px; padding-left: 4px; color: #FFF; text-align: center; font-family: Arial, Helvetica, sans-serif; font-size: 14px; font-weight: bold; min-width: 60px; text-shadow: 2px 2px 1px rgba(0, 0, 0, .8);">__text__</div></td>
    <td style="vertical-align: middle;"><div style="background-image:url(modules/deano/deanos_facebook_connect/templates/base/images/button_sm_right.png); background-repeat: no-repeat; background-position: left top; height: 40px; width: 6px;"></div></td>
  </tr>
</table>
