<div class="bx_sys_default_padding">
<div class="fbContent">
  <div class="fbFinishCenter fbFinishText">
    <bx_text:_dbcs_fb_finish_msg />
  </div>
  <div class="fbFinishCenter"> <span class="fbFinishLabel">
    <bx_text:_dbcs_fb_logon_label />
    </span> <span>__login_id__</span></div>
  <div class="fbFinishCenter"> <span class="fbFinishLabel">
    <bx_text:_dbcs_fb_password_label />
    </span> <span>__password__</span></div>
</div>
<table width="100%" cellpadding="0" cellspacing="0">
  <tr>
    <td align="center" style="text-align: center;"><div class="clear_both"></div>
      <div class="input_wrapper input_wrapper_submit" style="float: none;">
        <div class="button_wrapper" style="float: none;">
          <input type="button" value="__button_text__" name="Button" class="form_input_submit"  style="float: none; display: inline-block;" onClick="javascript: window.location='__callback_url__'">
          <div class="button_wrapper_close"></div>
        </div>
        <div class="input_close input_close_submit"></div>
      </div>
      <div class="clear_both"></div></td>
  </tr>
</table>
</div>