<div class="bx_sys_default_padding">
<div class="fbContent">
  <div class="fbCenter fbAskText">__message__</div>
  <div>&nbsp;</div>
<div id="album_status" class="fbCenter">&nbsp;</div>
  <div>&nbsp;</div>
  <div id="photo_status" class="fbCenter">&nbsp;</div>
  <div>&nbsp;</div>
  <div align="center">
    <OBJECT classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,0,0" WIDTH="562" HEIGHT="76" id="ani.swf">
      <PARAM NAME=movie VALUE="__flash_path__ani.swf">
      <PARAM NAME=quality VALUE=high>
      <param name="wmode" value="transparent" />
      <param name="SCALE" value="noborder" />
      <EMBED src="__flash_path__ani.swf" WIDTH="562" HEIGHT="76" quality=high NAME="ani.swf" TYPE="application/x-shockwave-flash" PLUGINSPAGE="http://www.macromedia.com/go/getflashplayer" wmode="transparent" scale="noborder"></EMBED>
    </OBJECT>
  </div>
</div>
<!-- <script>setInterval('frames[0].scrollTo(0,9999999)',250)</script> -->
<iframe id="T1" style=" display: none; width:100%; height: 150px; border: 0px;" name="I1" src="__load_url__"></iframe>
</div>