<form action="<bx_url_root />modules/?r=deanos_facebook_connect/administration/" method="POST">
  <table cellspacing="0" cellpadding="0" class="form_advanced_table">
    <tbody>
      <tr>
        <td class="caption">Select Backup to Restore:</td>
        <td class="value"><div class="input_wrapper input_wrapper_select ">
            <select class="form_input_select bx-def-font" name="restorefn">
            __options__
            </select>
          </div></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td class="value"><div class="clear_both"></div>
          <div style="padding-right: 4px;" class="input_wrapper input_wrapper_submit">
            <div class="button_wrapper">
              <input type="submit" class="form_input_submit bx-btn" name="restore" value="Restore">
            </div>
          </div>
          <div style="" class="input_wrapper input_wrapper_submit">
            <div class="button_wrapper">
              <input type="submit" class="form_input_submit bx-btn" name="delete" value="Delete">
            </div>
          </div>
          <div class="clear_both"></div></td>
      </tr>
    </tbody>
  </table>
  <input type="hidden" class="form_input_hidden bx-def-font" name="sr" value="1">
</form>
