 <bx_if:instructors>
	<div class="tsb_cnt_out">
		<div class="tsb_cnt_in bx-def-btc-padding-in-out">
			<b><bx_text:_modzzz_schools_page_caption_instructors /></b>: __instructors__
		</div>
	</div>  
</bx_if:instructors>

<bx_if:course_code>
	<div class="tsb_cnt_out">
		<div class="tsb_cnt_in bx-def-btc-padding-in-out">
			<b><bx_text:_modzzz_schools_page_caption_course_code /></b>: __course_code__
		</div>
	</div>  
</bx_if:course_code>

<bx_if:credits>
	<div class="tsb_cnt_out">
		<div class="tsb_cnt_in bx-def-btc-padding-in-out">
			<b><bx_text:_modzzz_schools_page_caption_credits /></b>: __credits__
		</div>
	</div>  
</bx_if:credits>

<bx_if:semester>
	<div class="tsb_cnt_out">
		<div class="tsb_cnt_in bx-def-btc-padding-in-out">
			<b><bx_text:_modzzz_schools_page_caption_semester /></b>: __semester__
		</div>
	</div>  
</bx_if:semester>
 
<div class="tsb_cnt_out">
	<div class="tsb_cnt_in bx-def-btc-padding-in-out">
		<b><bx_text:_modzzz_schools_page_caption_overview /></b> 
	</div>
</div> 
<div class="tsb_cnt_out">
	<div class="tsb_cnt_in bx-def-btc-padding-in">
		__overview__
	</div>
</div>

 <bx_if:objectives>
	<div class="tsb_cnt_out">
		<div class="tsb_cnt_in bx-def-btc-padding-in-out">
			<b><bx_text:_modzzz_schools_page_caption_objectives /></b> 
		</div>
	</div> 
	<div class="tsb_cnt_out">
		<div class="tsb_cnt_in bx-def-btc-padding-in">
			__objectives__
		</div>
	</div>
</bx_if:objectives>
 
 <bx_if:prerequisite>
	<div class="tsb_cnt_out">
		<div class="tsb_cnt_in bx-def-btc-padding-in-out">
			<b><bx_text:_modzzz_schools_page_caption_prerequisite /></b> 
		</div>
	</div> 
	<div class="tsb_cnt_out">
		<div class="tsb_cnt_in bx-def-btc-padding-in">
			__prerequisite__
		</div>
	</div>
</bx_if:prerequisite>
 
 <bx_if:timetable>
	<div class="tsb_cnt_out">
		<div class="tsb_cnt_in bx-def-btc-padding-in-out">
			<b><bx_text:_modzzz_schools_page_caption_timetable /></b> 
		</div>
	</div> 
	<div class="tsb_cnt_out">
		<div class="tsb_cnt_in bx-def-btc-padding-in">
			__timetable__
		</div>
	</div>
</bx_if:timetable>
 
 <bx_if:delivery_methods>
	<div class="tsb_cnt_out">
		<div class="tsb_cnt_in bx-def-btc-padding-in-out">
			<b><bx_text:_modzzz_schools_page_caption_delivery_methods /></b> 
		</div>
	</div> 
	<div class="tsb_cnt_out">
		<div class="tsb_cnt_in bx-def-btc-padding-in">
			__delivery_methods__
		</div>
	</div>
</bx_if:delivery_methods>
 
 <bx_if:content>
	<div class="tsb_cnt_out">
		<div class="tsb_cnt_in bx-def-btc-padding-in-out">
			<b><bx_text:_modzzz_schools_page_caption_content /></b> 
		</div>
	</div> 
	<div class="tsb_cnt_out">
		<div class="tsb_cnt_in bx-def-btc-padding-in">
			__content__
		</div>
	</div>
</bx_if:content>
 
 <bx_if:assessment>
	<div class="tsb_cnt_out">
		<div class="tsb_cnt_in bx-def-btc-padding-in-out">
			<b><bx_text:_modzzz_schools_page_caption_assessment /></b> 
		</div>
	</div> 
	<div class="tsb_cnt_out">
		<div class="tsb_cnt_in bx-def-btc-padding-in">
			__assessment__
		</div>
	</div>
</bx_if:assessment>
 
 <bx_if:materials>
	<div class="tsb_cnt_out">
		<div class="tsb_cnt_in bx-def-btc-padding-in-out">
			<b><bx_text:_modzzz_schools_page_caption_materials /></b> 
		</div>
	</div> 
	<div class="tsb_cnt_out">
		<div class="tsb_cnt_in bx-def-btc-padding-in">
			__materials__
		</div>
	</div>
</bx_if:materials>
 
 <bx_if:specialization>
	<div class="tsb_cnt_out">
		<div class="tsb_cnt_in bx-def-btc-padding-in-out">
			<b><bx_text:_modzzz_schools_page_caption_specialization /></b> 
		</div>
	</div> 
	<div class="tsb_cnt_out">
		<div class="tsb_cnt_in bx-def-btc-padding-in">
			__specialization__
		</div>
	</div>
</bx_if:specialization>

