<div class="bx_sys_block_info">
    <div class="infoMain">
        __author_unit__
        <div class="infoText bx-def-margin-sec-top">
            <div class="infoUnit infoUnitFontIcon">
                <i class="sys-icon time"></i>
                __date__ (__date_ago__)
            </div>
            <div class="infoUnit infoUnitFontIcon">
                <i class="sys-icon folder-close"></i>
                __cats__
            </div>
            <div class="infoUnit infoUnitFontIcon">
                <i class="sys-icon tags"></i>
                __tags__
            </div>
        </div>
        <div class="clear_both"></div>
    </div>
</div>
 
<div class="infoUnitBorder"></div>
	

<div class="bx_sys_block_info">
    <div class="infoMain">
          
        <div class="infoText bx-def-margin-sec-top">

			<div class="infoExtraHeader">
				 <bx_text:_modzzz_schools_header_additional_iInfo />
			</div>

			<div class="infoExtraUnit">
				 <bx_text:_modzzz_schools_label_students /> : __students_count__
			</div>
 
			<div class="infoExtraUnit">
				 <bx_text:_modzzz_schools_label_alumni /> : __alumni_count__
			</div>

			<div class="infoExtraUnit">
				 <bx_text:_modzzz_schools_label_fans /> : __fans_count__
			</div>

			<div class="infoExtraUnit">
				 <bx_text:_modzzz_schools_label_instructors /> : __instructors_count__
			</div>

			<div class="infoExtraUnit">
				 <bx_text:_modzzz_schools_label_courses /> : __courses_count__
			</div>

			<div class="infoExtraUnit">
				 <bx_text:_modzzz_schools_label_events /> : __events_count__
			</div>

			<div class="infoExtraUnit">
				 <bx_text:_modzzz_schools_label_news /> : __news_count__
			</div>  
		</div>
	</div>
</div>

__fields__
