<div class="bx-twig-unit modzzz_articles_unit bx-def-margin-top-auto">
 
	<div class="bx-twig-unit-icon-cont bx-def-margin-sec-right">
		__post_uthumb__
	</div>

    <div class="bx-twig-unit-info">

        <div class="bx-twig-unit-title bx-def-font-h2">
			<a href="__author_url__">__author__</a>
        </div>
 
        <div class="bx-twig-unit-line">
			<a href="__school_url__">__school_title__</a>
		</div> 

        <div class="bx-twig-unit-line">
			<bx_text:_modzzz_schools_label_attendance_period />: __year_entered__ - __year_left__
		</div> 
 
        <div class="bx-twig-unit-line bx-twig-unit-special">
			__country_city__
		</div>
  
    </div>    

</div>
