    <div class="tabs">

       <div class="tab">
           <input type="radio" id="tab-4" name="tab-group-2" checked>
           <label for="tab-4">__db_geo_map_title__</label>
           
           <div class="content">
               __db_geo_map_map__
           </div> 
       </div>

       <!-- div class="tab">
           <input type="radio" id="tab-5" name="tab-group-2">
           <label for="tab-5">__db_geo_route_map_title__</label>
           
           <div class="content">
               __db_geo_route_map__
           </div> 
       </div -->
        
        <div class="tab">
           <input type="radio" id="tab-6" name="tab-group-2">
           <label for="tab-6">__db_geo_route_title__</label>
         
           <div class="content">
               __db_geo_route__
           </div> 
       </div>
        
    </div>

