<items><item key="APIKey"><![CDATA[5d73d6d103a04a48c38ce8b11ab83fbf]]></item><item key="export"><![CDATA[true]]></item><item key="topByRating"><![CDATA[true]]></item><item key="itemsPerPage"><![CDATA[24]]></item><item key="searchDefault"><![CDATA[]]></item><item key="filesUrl"><![CDATA[#filesUrl#]]></item><item key="categoryImage"><![CDATA[#categoryImage#]]></item><item key="enableBanners"><![CDATA[true]]></item><item key="showHints"><![CDATA[#showHints#]]></item></items>