<script type="text/javascript">
    parserUrl = '__sParserUrl__';
    var sSubImgPath = '__sSubImgPath__';
</script>

<ul class="myTree activeTree" treeType="activeTree">
    <li class="treeItem">
        <span class="textHolder fly"><img src="<bx_icon_url:folder.png />" class="folderImage" /> <bx_text:_adm_mmi_navigation_menu /><!--[if gte IE 7]><!--></span><!--<![endif]-->
        <!--[if lte IE 6]><table><tr><td><![endif]-->
        <ul>
            __sTopElements__
        </ul>
        <!--[if lte IE 6]></td></tr></table></span><![endif]-->
    </li>
</ul>

<div class="clear_both"></div>
<hr />

<ul class="myTree inactiveTree">
    <li class="treeItem"><span class="textHolder fly"><img src="<bx_icon_url:folder.png />" class="folderImage" /> <bx_text:_adm_mbuilder_inactive_items /><!--[if gte IE 7]><!--></span><!--<![endif]-->
        <!--[if lte IE 6]><table><tr><td><![endif]-->
        <ul>
            __sAllItems__
        </ul>
        <!--[if lte IE 6]></td></tr></table></span><![endif]-->
    </li>
</ul>

<div class="clear_both"></div>
<hr />

<ul class="myTree inactiveTree">
    <li class="treeItem"><span class="textHolder fly"><img src="<bx_icon_url:folder.png />" class="folderImage" /> <bx_text:_adm_mbuilder_legend_system /><!--[if gte IE 7]><!--></span><!--<![endif]-->
        <!--[if lte IE 6]><table><tr><td><![endif]-->
        <ul>
            <li class="treeItem" id="0" type="inactive" systype="newitem">
                <span class="textHolder"><img src="<bx_icon_url:folder.png />" class="folderImage" /> <bx_text:_ams_new_item /></span>
            </li>
        </ul>
        <!--[if lte IE 6]></td></tr></table></span><![endif]-->
    </li>
</ul>

<div class="clear_both"></div>
<hr />
<div class="builder_actions">
    __actions_result__
    <span class="saver"><bx_text:_ams_save_button /></span>
    <span class="backup"><bx_text:_ams_backup_button /></span>
    <span class="restore"><bx_text:_ams_restore_button /></span>
    <div class="clear_both"></div>
</div>
<hr />

<div id="edit_form_cont"></div>