<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>__page_header__</title>
	<base href="__site_url__" />
    <script type="text/javascript">
        var site_url = '__site_url__';
    </script>
    __jquery_inline__
    __common_css_inline__
    <style>
    	.aqb_mp3_player_popout {
    		display: none;
    	}
        <bx_if:iframe_embed>
        div.jp-playlist {
            max-height: none!important;
        }
        </bx_if:iframe_embed>
    </style>
</head>
<body style="padding:0;">
	__player__
</body>
</html>